.searchBox {
    input,
    button {
        border-radius: 5px;
        padding: 10px;
        border: 1px solid darken(white, 20%);
        outline: none;
    }
    input:focus {
        border: 1px solid darken(white,35%)
    }
    button {
        margin-left: 10px;
        background-color: lighten(black,10%);
        color: white;
        cursor: pointer;
        &:hover {
            background-color: lighten(black,20%);
        }
    }
}