@import "../../assets/css/partials/grids.scss";

.projectItem {
  margin-bottom: 15px;
  position: relative;
  @extend .col-xs-12;
  @extend .col-sm-6;
  @extend .col-md-4;
  @extend .col-lg-3;
  >div {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid darken(white, 10%);
    height: 300px;
    font-size: 16px;
    h1 {
      font-weight: 600;
      font-size: 20px;
      margin: 0;
      margin-bottom: 15px;
    }
  }

  &__detailList {
    font-size: 15px;
    line-height: 25px;
    list-style: none;
    padding: 0px;
    margin: 0;
  }

  &__detailTitle {
    font-weight: 600;
    color: lighten(black, 60%);
    margin-right: 5px;
  }
}