@import "partials/grids";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body,
html {
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%;
  background: #eee;
}

input,
button,
textarea {
  font-family: 'Source Sans Pro', sans-serif;
}

.header {
  padding-bottom: 20px;
  padding-top: 20px;
  &:after {
    content: "";
    clear: both;
    display: table;
  }
}

.search-box {
  float: left;
}

.sort-btn {
  float: right;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 2px transparent solid;
  padding: 10px 5px;
  &.selected {
    border-color: black;
  } 
}